*,
*::before,
*::after {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-family: sans-serif;
  
}
li {
  list-style: none;
}
.filter::-webkit-scrollbar {
  width: 3px; /* width of the entire scrollbar */
}

.filter::-webkit-scrollbar-thumb {
  background-color: rgb(146, 146, 150); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
