.sort {

  
  right: 8rem;
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  margin-left: 17rem;
    margin-top: 6rem;
}
.sort div {
  margin-right: 1rem;
}
.sort select {
  padding-right: 4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
select,
option {
  cursor: pointer;
}
.sort button {
  margin: 0rem 0rem 0rem;
}
